<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjq.programmer.dao.my.MyAppointMapper">

    <select id="getAppointTotalByDate" resultType="java.lang.Integer">
        select count(*) as total from appoint where `time` > date_sub(curdate(), interval #{queryMap.start} day) and `time` &lt; date_sub(curdate(), interval #{queryMap.end} day)
    </select>

</mapper>